<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<%- include('../partials/head') %> 
<body>
  <%- include('../partials/header') %>
  <main class="vista-recupero-contrasenia container my-3">
    <h2>Recuperacion de contraseña</h2>
    <p>Ya te enviamos un email a tu correo para que realizes los pasos a seguir para recuperar tu contraseña</p>
  </main>
  
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %> 
</body>
</html>