.glider-contain{
	position: relative;
}

.glider-prev{
	position: absolute;
	top: 35%;
	left: 0;
	z-index: 99;
}

.glider-next{
	position: absolute;
	top: 35%;
	right: 0;
	z-index: 99;
}

/* carousel-productos */
.glider .contenido-producto{
	text-align: center;
	background-color: white;
	padding: 20px;
	margin: 0 10px;
}

.glider .contenido-producto:hover{
	background-color: #23274c;
}

.glider .contenido-producto h3{
    font-size: 1rem;
    color: #666;
}

.glider .contenido-producto a{
	color: white;
}

.glider .contenido-producto a p{
    color: #23274c;
	font-size: 1.5rem
}

.glider .contenido-producto:hover > a p{
	color: orange;
}

.glider .contenido-producto .image-contain{
	position: relative;
}

.glider .contenido-producto .discount{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #00a3da ;
	padding-top: 14px;
	font-size: 1.3rem;
	font-weight: bold;
}

.glider .contenido-producto img{
	height: 200px;
}

/* nuestro-productos */
.nuestros-productos{
	width: 260px;
	text-align: center;
	background-color: white;
	padding: 20px;
	margin: 0 10px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nuestros-productos:hover{
	background-color: #23274c;
}

.nuestros-productos img{
	width: 100%;
	height: 200px;
}

.nuestros-productos .lista-productos h3{
	font-size: 1rem;
    color: #666;
}

.nuestros-productos .lista-productos a{
	color: white;
}

.nuestros-productos .lista-productos a p,
.nuestros-productos .lista-productos p{
    color: #23274c;
	font-size: 1.5rem
}

.nuestros-productos .lista-productos:hover > a p,
.nuestros-productos .lista-productos:hover > p{
	color: orange;
}

.nuestros-productos .lista-productos .image-contain{
	position: relative;
}

.nuestros-productos .lista-productos .discount{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #00a3da;
	color: white;
	padding-top: 14px;
	font-size: 1.3rem;
	font-weight: bold;
}