@import "generales.css";

footer{
    background-color: var(--colorNaranja);
}

footer h3{
    color: white;
    font-weight: bold;
}

footer ul{
    padding-inline-start: 0;
}

footer .categoria li,
footer .nosotros li{
    list-style: circle;
}

footer .card{
    background-color: var(--colorOscuro);
    color: white;
}

footer .dejanos-consulta form textarea{
    height: 200px;
    resize: none;
}

footer .redes-sociales ul li a i{
    font-size: 2rem;
}

footer .copy{
    border: 1px solid white;
    padding: 5px;
    color: white;
}

