@import "generales.css";

footer{
    background-color: var(--colorNaranja);
    padding-top: 20px;
}

footer h3{
    color: white;
}

footer .consultas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer .consultas textarea{
    resize: none;
    height: 200px;
}

footer .redes-sociales ul li a i{
    font-size: 2rem;
}

footer .copy{
    border: 1px solid white;
    padding: 5px;
    color: white;
}

