@import "generales.css";

/* header */
header{
    background-color: var(--colorAzul);
}

header .txt span{
    color: white;
}

header .navbar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #23274c;
}

header .navbar-brand{
    width: 120px;
}

header .navbar-toggler-icon{/* icono desplegable bootstrap */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header .content-header{
    padding-top: 100px;
}

header .perritos{
    display: none;
}

header .buscador{
    position: relative;
}

header .buscador .form-control{
    border-radius: 50px;
}

header .buscador form button{
    position: absolute;
    top: 0;
    right: 12px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: white;
    padding-left: 11px;
    font-size: 0.9rem;
}

header .boton-user i{
    font-size: 1.1rem;
    color: white;
}

header .nav-link:hover{
    color: orange;
}

header .navbar-brand:hover{
    color: orange;
}
/* fin del header */

/* banner */

.banner{
    display: none;
    padding: 0;
}

.banner img{
    height: 300px;
}
/* fin del banner */

@media(min-width:426px){/* tablet */
    header .perritos{
        display: inline-block;
        margin-top: 33px;
        padding-left: 0;
    }
    
    header .perritos :last-child{
        display: none;
    }
    
    header .perritos img{
        width: 50px;
    }
}

@media(min-width:769px){/* desktop */
    header .perritos{
        padding-left: 45px;
        margin-top: 7px;
    }
    
    header .perritos :last-child{
        display: inline-block;
    }
    
    header .perritos img{
        width: 90px;
    }
    
    .banner{
        display: block;
    }
}

@media(min-width:1025px){
    header .perritos{
        margin-top: 20px;
    }
}