@import "generales.css";

.imagenes-compra,
.instructivo-compra{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main.index h2{
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 1px solid var(--colorNaranja);
    color: var(--colorNaranja);
    font-size: 1rem;
}

/* productos destacados */

/* productos destacados */

.instructivo-compra{
    border-bottom: 1px solid var(--ColorGris-oscuro);
}

.instructivo-compra article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.instructivo-compra article img{
    width: 100%;
}

.instructivo-compra article p{
    color: var(--ColorGris-oscuro);
    text-align: center;
}

.publi-footer{
    display: flex;
    flex-wrap: wrap;
}

.publi-footer div{
    width: 100%;
    padding: 5px;  
}

.publi-footer div img{
    width: 100%;  
}

@media(min-width:426px){
    .instructivo-compra article{
        width: 33%;
    }

    .publi-footer div{
        width: 33%;
    }
    
    .publi-footer div img{
        width: 100%;  
    }
}

@media(min-width:769px){

    .imagenes-compra div{
        width: 25%;
    }

    .imagenes-compra div img{
        width: 100%;
    }
}