@import "generales.css";

/* banner */

.banner{
    display: none;
    padding: 0;
}

.banner img{
    height: 300px;
}
/* fin del banner */

.indexh2{
    color: white;
}

main.index{
    background-color: var(--colorOscuro);
}

main.index section article{
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: var(--ColorGrisClaro);
}

main.index section article:hover{
    transform: scale(1.1);
}

main.index section article .product-img{
    border: 1px solid white;
    position: relative;
    height: 300px;
}

main.index section article .product-img img{
    height: 100%;
}

main.index section article .product-cont{
    width: 100%;
    border: 1px solid white;
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px;
}

main.index section article .product-cont a{
    color: white;
    background-color: var(--colorNaranja);
    border-color: var(--colorNaranja);
}

main.index section article .product-cont p{
    font-size: 2rem;
}

main.index section article .product-img .off{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
}

@media(min-width:769px){
    .banner{
        display: block;
    }
}