@import "generales.css";

.icono-contrasenia-login{
    position: relative;
}

.icono-contrasenia-login i{
    position: absolute;
    top: -3px;
    right: 33px;
    color:#666;
    font-size: 20px;
}
.icono-contrasenia-registro{
    position: relative;
}

.icono-contrasenia-registro i{
    position: absolute;
    top: -3px;
    right: 33px;
    color:#666;
    font-size: 20px;
}
.icono-contrasenia-registro2{
    position: relative;
}

.icono-contrasenia-registro2 i{
    position: absolute;
    top: -3px;
    right: 33px;
    color:#666;
    font-size: 20px;
}  
main.register .login{
    border-right: 1px solid #666;
}

main.register form .botones{
    display: flex;
    flex-direction: column; 
}

main.register .boton-dos{
    display: flex;
    flex-direction: column;

}

main.register .form-check label{
    color: white;
}

main.register h2{
    color: white;
}
main ul li#temas{
    color: white;
}

.olvide-contrasenia{
    color: white;
    font-size: 0.9rem;
}

.olvide-contrasenia a{
    text-decoration: underline;
}

.olvide-contrasenia a:hover{
    color: orange;
}

/* vista-recupero-contrasenia */
.vista-recupero-contrasenia h2,
.vista-recupero-contrasenia p{
    color: white;
}

@media(min-width:769px){
    main.register form .botones{
        flex-direction: row;
        justify-content: space-between;   
    }
    
    main.register .boton-dos{
        flex-direction: row;
    }
    
    main.register .boton-dos a{
        margin-left: 10px;
    }
}
