@import "generales.css";

main.register form .botones{
    display: flex;
    flex-direction: column; 
}

main.register .boton-dos{
    display: flex;
    flex-direction: column;
}

main.register .form-check label{
    color: white;
}

main.register h2{
    color: white;
}

@media(min-width:769px){
    main.register form .botones{
        flex-direction: row;
        justify-content: space-between;   
    }
    
    main.register .boton-dos{
        flex-direction: row;
    }
    
    main.register .boton-dos a{
        margin-left: 10px;
    }
}
