@import "generales.css";

body.modoOscuro {
    background-color: #161716;
}

body.modoOscuro main.index h2,
body.modoOscuro .product-relacionados h2{
    color:#027bfc ;
}


body.modoOscuro .glider .contenido-producto,
body.modoOscuro .nuestros-productos{
    background-color: rgb(29, 28, 28);
}
body.modoOscuro .glider .contenido-producto:hover,
body.modoOscuro .nuestros-productos:hover{
	background-color:#665f5a ;
}
body.modoOscuro .glider .contenido-producto h3,
body.modoOscuro .glider .contenido-producto a p{
    color: white;
}

body.modoOscuro .nuestros-productos .lista-productos a p,
body.modoOscuro .nuestros-productos .lista-productos p,
body.modoOscuro .nuestros-productos .lista-productos h3{
    color: white;
}
body.modoOscuro .nuestros-productos .lista-productos:hover > a p,
body.modoOscuro .nuestros-productos .lista-productos:hover > p,
body.modoOscuro .glider .contenido-producto:hover > a p{
	color: #eeff00;
}
body.modoOscuro header,
body.modoOscuro .headerLogin,
body.modoOscuro footer{
    background-color: rgb(51, 51, 51);

}
body.modoOscuro header .navbar{
    background-color: #121212 ;
}



body.modoOscuro main ul li#temas{
    color:#0252a8;
}
