@import "generales.css";

/* ruta producto */
.ruta-producto{
    border-bottom: 1px solid #666;
}

.ruta-producto ul{
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
}

.ruta-producto ul li{
    margin-right: 10px;
}

.ruta-producto ul li a{
    color: #666;
    font-size: 0.8rem;
    border-right: 1px solid #666;
    padding-right: 5px;
    text-transform: uppercase;
}

.ruta-producto ul li:last-child > a{
    border-right: none;
}

.ruta-producto ul li a:hover{
    color: orange;
}
/* ruta producto */

.desplegable-cat h6,
.detalle-prod,
.descrip{
    color: white;
}

/* aside */
aside{
    display: none;
}

aside{
    border-right: 1px solid #666;
}

aside ul li a{
    color: #666;
}

aside ul li a:hover{
    color: orange;
}
/* aside */
.detalle-prod h2{
    font-size: 1.5rem;
}

.detalle-prod h2 span{
    text-decoration: line-through;
}

.detalle-prod .pago{
    border-top: 1px solid #666
}

.detalle-prod .pago{
    width: 350px;
}

.detalle-prod .pago img{
    width: 100%;
}

.product-relacionados h2{
    color: orange;
    font-size: 1rem;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

@media(min-width: 426px){
    aside{
        display: block;
    }
}






