@import "generales.css";

/* ruta producto */
main.product-detail .ruta-producto{
    border-bottom: 1px solid var(--colorNaranja);
}

main.product-detail .ruta-producto ul{
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-bottom: 5px;
}

main.product-detail .ruta-producto ul li{
    margin: 0 5px;
}

main.product-detail .ruta-producto ul li a{
    color: var(--colorNaranja);
    font-size: 0.9rem;
    text-transform: uppercase;
}
/* ruta producto */

/* product detail */
main.product-detail .producto article h3,
main.product-detail .producto .descript{
    color: white;
}

main.product-detail .producto article h2,
main.product-detail .producto article h5{
    text-transform: uppercase;
    color: white;
}

main.product-detail .medios-de-pago{
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main.product-detail .medios-de-pago img{
    width: 100%;
}

main.product-detail .producto .descript h2{
    border: 1px solid var(--ColorGris-oscuro);
    border-top: none;
    padding: 5px;
}

/* product detail */

main.product-detail .product-relacionados h2{
    margin: 20px 0;
    padding: 5px 0;
    border-bottom: 1px solid var(--colorNaranja);
    color: var(--colorNaranja);
    font-size: 1rem;
}

/* productos relacionados */
main.product-detail .product-relacionados section a figure{
    padding: 5px;
    margin: 0;
    border: 1px solid var(--ColorGris-oscuro);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 350px;
}

main.product-detail section a figure img{
    height: 80%;
}

main.product-detail section a figure h5{
    text-transform: uppercase;
}

main.product-detail .product-relacionados section a figure .descuento{
    width: 200px;
    position: absolute;
    top: 0;
    right: -40px;
}

main.product-detail .product-relacionados section a .precio-producto{
    border: 1px solid var(--ColorGris-oscuro);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow: 0px 10px 10px -6px #000;
}

/* productos relacionados */

@media(min-width:426px){
    main.product-detail .medios-de-pago img{
        width: 30%;
    }
}






