*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --colorOscuro: #212529;
    --colorAzul: #111d5e;
    --colorRojo: #c70039;
    --colorNaranja: #f37121;
    --colorAmarillo: #c0e218;
    --ColorVerde: #39b54a;
    --ColorGrisClaro: rgba(255,255,255,.55);
}

body{
    background-color: var(--colorAzul);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

/* ruta-producto */
.ruta-producto ul{
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.ruta-producto ul li,
.ruta-producto ul li i{
    margin: 0 5px;
}

.ruta-producto ul li:first-child{
    border-right: 2px solid white;
    padding-right:10px;
}

.ruta-producto ul li i{
    margin-left: 10px;
}

/* product detail */
main.product-detail{
    background-color: var(--colorOscuro);
}

main.product-detail .producto .product-img-move{
    position: relative;
}

main.product-detail .producto .product-img-move .carousel-item{
    transition: none;/* reparar */
}

main.product-detail .producto .product-img-move .discount{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
}

main.product-detail .producto article{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* product/relacionados */
main.product-detail .product-relacionados section article{
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: var(--ColorGrisClaro);
}

main.product-detail .product-relacionados section article:hover{
    transform: scale(1.1);
}

main.product-detail .product-relacionados section article .product-img{
    border: 1px solid white;
    position: relative;
    height: 300px;
}

main.product-detail .product-relacionados section article .product-cont{
    width: 100%;
    border: 1px solid white;
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px;
}

main.product-detail .product-relacionados section article .product-cont a{
    color: white;
    background-color: var(--colorNaranja);
    border-color: var(--colorNaranja);
}

main.product-detail .product-relacionados section article .product-cont p{
    font-size: 2rem;
}

main.product-detail .product-relacionados section article .product-img .off{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
}

@media(min-width:376px){/* mobile large */
    main.product-detail .producto .product-img-move .discount{
        top: 3px;
        right: 50px;
    }
}

@media(min-width:1025px){/* escritorio xl */
    main.product-detail .producto article .medios-de-pago{
        height: 95px;
    }
}



