:root{
    --colorOscuro: #433d3c;
    --colorVioleta: #944e6c;
    --colorRosa: #e9c496;
    --colorVerde: #83a95c;
}

body{
    padding: 5px;
    background-color: var(--colorOscuro);
}

h2{
    border-radius: 20px;
    background-color: var(--colorVioleta);
}
.sesion{
    background-color: var(--colorRosa);
    margin: 1px;
    border-radius: 20px;
    margin-top: 40px;

}

.pagos{
    background-color: var(--colorRosa);
    margin: 5px;
    border-radius: 20px;
    padding: 5px;

}

.lista{
    background-color: var(--colorRosa);
    margin: 5px;
    border-radius: 20px;
    padding: 5px;
}

.variable.container p{
    background-color: var(--colorVioleta);
    border-radius: 20px;
}


