<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  <!-- Banner -->
  <div class="container-fluid">
  <div class="row">
    <div  id="carouselExampleIndicators" class="banner carousel carousel-dark slide col-lg-12" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/delivery.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/publi.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
</div>
</div>
<!-- Banner -->

  <!-- productos destacados -->
  <h2 class="productHome">Productos destacados</h2>
  <main class="container my-3">
          <div class="row my-3">
              <section class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <article>
                      <img src="../image/dogui.jpg" alt="" class="w-100">
                      <div class="contenido">
                          <h3>Nombre del producto</h3>
                          <p>$1000<span>/ 50% OFF</span></p>
                      </div>
                  </article>
              </section>
              <section class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <article>
                      <img src="../image/dogui.jpg" alt="" class="w-100">
                      <div class="contenido">
                          <h3>Nombre del producto</h3>
                          <p>$1000<span>/ 50% OFF</span></p>
                      </div>
                  </article>
              </section>
              <section class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <article>
                      <img src="../image/dogui.jpg" alt="" class="w-100">
                      <div class="contenido">
                          <h3>Nombre del producto</h3>
                          <p>$1000<span>/ 50% OFF</span></p>
                      </div>
                  </article>
              </section>
              <section class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <article>
                      <img src="../image/dogui.jpg" alt="" class="w-100">
                      <div class="contenido">
                          <h3>Nombre del producto</h3>
                          <p>$1000<span>/ 50% OFF</span></p>
                      </div>
                  </article>
              </section>
          </div>
  </main>
  <!-- productos destacados -->

  <!-- buscados recientemente -->
  <h2 class="productHome">Buscados recientemente</h2>
  <main class="container my-3">
          <div class="row my-3">
              <section class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <article>
                      <img src="../image/dogui.jpg" alt="" class="w-100">
                      <div class="contenido">
                          <h3>Nombre del producto</h3>
                          <p>$1000<span>/ 50% OFF</span></p>
                      </div>
                  </article>
              </section>
              <section class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <article>
                      <img src="../image/dogui.jpg" alt="" class="w-100">
                      <div class="contenido">
                          <h3>Nombre del producto</h3>
                          <p>$1000<span>/ 50% OFF</span></p>
                      </div>
                  </article>
              </section>
              <section class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <article>
                      <img src="../image/dogui.jpg" alt="" class="w-100">
                      <div class="contenido">
                          <h3>Nombre del producto</h3>
                          <p>$1000<span>/ 50% OFF</span></p>
                      </div>
                  </article>
              </section>
              <section class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <article>
                      <img src="../image/dogui.jpg" alt="" class="w-100">
                      <div class="contenido">
                          <h3>Nombre del producto</h3>
                          <p>$1000<span>/ 50% OFF</span></p>
                      </div>
                  </article>
              </section>
          </div>
  </main>
  <!-- buscados recientemente -->
  
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %> 
  
</body>
</html>