<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <!-- Banner -->
  <div class="banner container-fluid">
      <div  id="carouselExampleIndicators" class="banner carousel carousel-dark slide col-lg-12" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/publi.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/publi2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/publi3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/publi4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
  </div>
  <!-- Banner -->
  
  <!-- productos destacados -->
  <h2 class="indexh2 m-3">Destacados</h2>
  <main class="index container my-5">
    
    <div class="row my-3">
      <section class="py-5 col-12 col-md-6 col-lg-4 col-xl-3">
        <img src="/images/dog.png" alt="" class="w-100">
      </section>
      <section class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="">
          <article>
            <div class="product-img">
              <img src="/images/dogui.jpg" alt="" class="w-100">
              <div class="off"><img src="/images/descuento10.png" alt="" class="w-100"></div>
            </div>
            <div class="product-cont">
              <p>$1000</p>
              <a href="" class="btn btn-warning">AGREGAR AL CARRITO</a>
            </div>
          </article>
        </a>
      </section>
      <section class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="">
          <article>
            <div class="product-img">
              <img src="/images/dogui.jpg" alt="" class="w-100">
              <div class="off"><img src="/images/descuento15.png" alt="" class="w-100"></div>
            </div>
            <div class="product-cont">
              <p>$1000</p>
              <a href="" class="btn btn-warning">AGREGAR AL CARRITO</a>
            </div>
          </article>
        </a>
      </section>
      <section class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="">
          <article>
            <div class="product-img">
              <img src="/images/dogui.jpg" alt="" class="w-100">
              <div class="off"><img src="/images/descuento10.png" alt="" class="w-100"></div>
            </div>
            <div class="product-cont">
              <p>$1000</p>
              <a href="" class="btn btn-warning">AGREGAR AL CARRITO</a>
            </div>
          </article>
        </a>
      </section>
    </div>
  </main>
  <!-- productos destacados -->
  
  <!-- buscados recientemente -->
  <main class="index container my-5">
    
    <div class="row my-3">
      <section class="py-5 col-12 col-md-6 col-lg-4 col-xl-3">
        <img src="/images/cat.png" alt="" class="w-100">
      </section>
      <section class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="">
          <article>
            <div class="product-img">
              <img src="/images/dogui.jpg" alt="" class="w-100">
              <div class="off"><img src="/images/descuento15.png" alt="" class="w-100"></div>
            </div>
            <div class="product-cont">
              <p>$1000</p>
              <a href="" class="btn btn-warning">AGREGAR AL CARRITO</a>
            </div>
          </article>
        </a>
      </section>
      <section class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="">
          <article>
            <div class="product-img">
              <img src="/images/dogui.jpg" alt="" class="w-100">
              <div class="off"><img src="/images/15-de-descuento.png" alt="" class="w-100"></div>
            </div>
            <div class="product-cont">
              <p>$1000</p>
              <a href="" class="btn btn-warning">AGREGAR AL CARRITO</a>
            </div>
          </article>
        </a>
      </section>
      <section class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="">
          <article>
            <div class="product-img">
              <img src="/images/dogui.jpg" alt="" class="w-100">
              <div class="off"><img src="/images/descuento10.png" alt="" class="w-100"></div>
            </div>
            <div class="product-cont">
              <p>$1000</p>
              <a href="" class="btn btn-warning">AGREGAR AL CARRITO</a>
            </div>
          </article>
        </a>
      </section>
    </div>
  </main>
  <!-- buscados recientemente -->
  
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %> 
  
</body>
</html>