<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
    <header class="rgtrs container-fluid">
        <div class="row">
            <div class="my-3 col-6 col-md-3 col-lg-2"><a href="/"><img src="/images/mascoshop_logo.png" alt="" class="w-100" ></a></div>
            <div class="txt d-flex align-items-center justify-content-center col-6 col-lg-4 col-xl-4">
                <span>¡ Todo lo que tu mejor amigo necesita <i class="fas fa-paw"></i> ! </span>
            </div>
            <div class="perritos col-3 col-lg-6 col-xl-6 text-center">
                <img src="/images/header/6275beb2b1ee9e8b6e3165f64bce0893-secuencia-de-perro-corriendo-7-by-vexels.png" alt="">
                <img src="/images/header/b11541a04df1cd433b41d24302527553-secuencia-de-perro-corriendo-by-vexels.png" alt="">
                <img src="/images/header/be3eddba5705a321e4f69e930cdabc5b-secuencia-de-perro-corriendo-1-by-vexels.png" alt="">
                <img src="/images/header/d62201989552ef4beacf49d9b5a7e1a3-secuencia-de-perro-corriendo-4-by-vexels.png" alt="">
            </div>
        </div>
    </header>
    
    <main class="register container my-5 py-3">
        <h2>Login</h2>
        <form action="" method="">
            <div class="mb-3">
                <input type="email" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="mb-3">
                <input type="password" name="pass" placeholder="Contraseña" class="form-control">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordarme</label>
              </div>
  
            
            <div class="botones">
                
                <div class="boton-dos">
                    <button type="submit" class="mb-3 btn btn-primary">Iniciar sesion</button>
                    <a href="/users/register" class="mb-3 btn btn-success">Registrarme</a>
                </div>
                
                <a href="/" class="mb-3 btn btn-danger">Cancelar</a>
                
                
                
            </div>
            
        </form>
    </main>
    
    
    
    <%- include('partials/scripts') %> 
    
</body>
</html>