<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
    <header class="rgtrs container-fluid">
        <div class="row">
            <div class="my-3 col-6 col-md-3 col-lg-2"><a href="/"><img src="/images/mascoshop_logo.png" alt="" class="w-100" ></a></div>
        <div class="publicidad d-flex align-items-center col-6 col-lg-4">
            <span>¡ Todo lo que tu mejor amigo necesita <i class="fas fa-paw"></i>! </span>
        </div>
        </div>
    </header>
    
    <main class="register container my-5 py-3">
        <h2>Login</h2>
        <form action="" method="">
            <div class="mb-3">
                <input type="email" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="mb-3">
                <input type="password" name="pass" placeholder="Contraseña" class="form-control">
            </div>
            
            <div class="botones d-flex justify-content-end">
                <button type="submit" class="mx-3 btn btn-primary">Iniciar sesion</button>
            </div>
            
        </form>
    </main>
    
    
    
    <%- include('partials/scripts') %> 
    
</body>
</html>