<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 
  <main class="container my-5 py-5">
    <div class="row">
      
      
      <!-- Carrito de compras -->
      <div class="crt col-12 ">
        <h2>Tu Carrito de Compras</h2>
        
        <div class="carrito-compras row d-flex justify-content-around">
          <section class="col-12 col-md-5 col-lg-3">
            <div class="cont-img"><img src="/images/productos/dogui.jpg" alt=""></div>
            <div class="cont-carrito">
              <p>Nombre del producto</p>
              <span>$1000</span>
              <form action="" class="d-flex justify-content-between">
                <div class="d-flex">
                  <button class="btn btn-warning"><i class="fas fa-plus"></i></button>
                  <input type="text">
                  <button class="btn btn-warning"><i class="fas fa-minus"></i></button>
                </div>
                <button class="btn btn-danger" type="reset"><i class="fas fa-window-close"></i></button>
              </form>
            </div>
          </section>
          <section class="col-12 col-md-5 col-lg-3">
            <div class="cont-img"><img src="/images/productos/dog-chow.jpg" alt=""></div>
            <div class="cont-carrito">
              <p>Nombre del producto</p>
              <span>$1000</span>
              <form action="" class="d-flex justify-content-between">
                <div class="d-flex">
                  <button class="btn btn-warning"><i class="fas fa-plus"></i></button>
                  <input type="text">
                  <button class="btn btn-warning"><i class="fas fa-minus"></i></button>
                </div>
                <button class="btn btn-danger" type="reset"><i class="fas fa-window-close"></i></button>
              </form>
            </div>
          </section>
          <section class="col-12 col-md-5 col-lg-3">
            <div class="cont-img"><img src="/images/productos/gati-cat.jpg" alt=""></div>
            <div class="cont-carrito">
              <p>Nombre del producto</p>
              <span>$1000</span>
              <form action="" class="d-flex justify-content-between">
                <div class="d-flex">
                  <button class="btn btn-warning"><i class="fas fa-plus"></i></button>
                  <input type="text">
                  <button class="btn btn-warning"><i class="fas fa-minus"></i></button>
                </div>
                <button class="btn btn-danger" type="reset"><i class="fas fa-window-close"></i></button>
              </form>
            </div>
          </section>
          <section class="col-12 col-md-5 col-lg-3">
            <div class="cont-img"><img src="/images/productos/pro-plan-cat.png" alt=""></div>
            <div class="cont-carrito">
              <p>Nombre del producto</p>
              <span>$1000</span>
              <form action="" class="d-flex justify-content-between">
                <div class="d-flex">
                  <button class="btn btn-warning"><i class="fas fa-plus"></i></button>
                  <input type="text">
                  <button class="btn btn-warning"><i class="fas fa-minus"></i></button>
                </div>
                <button class="btn btn-danger" type="reset"><i class="fas fa-window-close"></i></button>
              </form>
            </div>
          </section>
          
        </div>
        <div class="total">Total = Variable</div>
      </div>
      
      
      
      <!-- Medio de pagos  -->
      <div class="mdp col-12">
        <h2>Medios de pago</h2>
        <form action="">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pago" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              <i class="far fa-money-bill-alt"></i>Efectivo
              
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pago" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              <i class="fas fa-credit-card"></i>Tarjeta
              
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pago" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              <i class="fas fa-exchange-alt"></i>Tranferencia
              
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="pago" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              <i class="fas fa-map-marker-alt"></i>Punto de pago 
              
              
            </label>
          </div>
        </form>
      </div>
      
      
      
    </div>
  </main>
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %>  
</body>
</html>