<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="container">
    <h1 class="my-3 elTitulazo">Sobre Nosotros</h1>
    <div class="card text-white bg-dark my-3 laTarjeta">
      <div class="card-body">
        <p class="card-text">En Mascoshop sabemos lo importante que es tu mascota para vos.<br> Vive, duerme, juega y camina a tu lado.<br> Tu mejor compañía te acepta tal cual sos y, a cambio, te ofrece todo su amor e incondicionalidad.<br> Tu única responsabilidad es cuidarla y quererla. Porque amamos a los animales tanto como vos, ponemos a tu alcance todo lo que tu fiel amigo necesita, haciéndote ahorrar tiempo para que compartas con él lo que más le gusta: tu compañía.<br> Desde mascoshop.com entregamos cada semana cientos de productos a hogares con mascotas.<br> Llevamos hasta tu puerta todo para tu mascota: alimentos balanceados, accesorios, golosinas, juguetes y mucho más, siendo el pet shop online más completo del país</p>
      </div>
    </div>
  </main>
  
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %> 
  
</body>
</html>