<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="container">
    <h1 class="my-3 text-center elTitulazo">Visitanos</h1>
    <div class="card text-center bg-dark my-3 laTarjeta">
      <div class="card-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1642.8917369728474!2d-58.45393772178203!3d-34.55903729037816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7d9a4464551caaae!2sMascotas%20de%20belgrano!5e0!3m2!1ses!2sar!4v1614737201363!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </main>
  
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %> 
  
</body>
</html>