<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %>
  
  <main class="container">
    <h1 class="my-3 text-center elTitulazo">Visitanos</h1>
    <div class="card text-center bg-dark my-3 laTarjeta">
      <div class="card-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26238.11107157288!2d-58.3890171791106!3d-34.71113491942777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a332cab03c111d%3A0x5929feb1d96d21f0!2sLan%C3%BAs%20Este%2C%20Lan%C3%BAs%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1617211109053!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></iframe>
      </div>
    </div>
  </main>
  
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %> 
  
</body>
</html>