<footer class="container-fluid">
    <div class="row ">
        <div class="caja1 col-12  col-lg-3 ">
            
                <h5>Categorias</h5>
                <ul>
                    <li><a href=""><i class="fas fa-bone"></i>Perros</a></li>
                    <li><a href=""><i class="fas fa-cat"></i>Gatos</a></li>
                    <li><a href=""><i class="fas fa-crow"></i>Aves</a></li>
                    <li><a href=""><i class="fas fa-fish"></i>Peces</a></li>
                    <li><a href=""><i class="fas fa-paw"></i>Roedores</a></li>
                    <li><a href=""><i class="fas fa-paw"></i>Reptiles</a></li>
                </ul>
           
        </div>
        
        <div class="caja1 col-12  col-lg-5 ">
           
                <h5>Sobre Nosotros</h5>
                
               <p>En Mascoshop sabemos lo importante que es tu mascota para vos. Vive, duerme, juega y camina a tu lado. Tu mejor compañía te acepta tal cual sos y, a cambio, te ofrece todo su amor e incondicionalidad. Tu única responsabilidad es cuidarla y quererla.
                Porque amamos a los animales tanto como vos, ponemos a tu alcance todo lo que tu fiel amigo necesita, haciéndote ahorrar tiempo para que compartas con él lo que más le gusta: tu compañía.
                Desde mascoshop.com entregamos cada semana cientos de productos a hogares con mascotas. Llevamos hasta tu puerta todo para tu mascota: alimentos balanceados, accesorios, golosinas, juguetes y mucho más, siendo el pet shop online más completo del país.</p>
                
           
        </div>
        <div class="caja2 col-12 col-lg-4  ">
            
                <h5>Dejanos tu consulta</h5>
                <form class="" action="">
                    
                    <input type="email" class="form-control "placeholder="Email" name="Email">
                    <input type="text" class="form-control "placeholder="Nombre" name="nombre">
                    
                    <textarea name="" placeholder=" Dejanos tu consulta"></textarea>
                </form>
          
        </div>
        <div class="contactanos text-center col-12  ">
         
                <h5>Contactanos</h5>
                
                <ul class="d-flex justify-content-around">
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                </ul>
                
              
          
        </div>
        <div class="copy col-12">
            <p class="copia">@Copyright Grupo_7</p>
        </div>
        
        
    </div>
</footer>