<footer class="container-fluid" id="footer">
    <div class="row">
        <ul class="col-12 col-md-3 col-xl-2">
            <h3>Categorias</h3>
            <li><a href="/products/productCategory/perros">Perros</a></li>
            <li><a href="/products/productCategory/gatos">Gatos</a></li>
            <li><a href="/products/productCategory/aves">Aves</a></li>
            <li><a href="/products/productCategory/peces">Peces</a></li>
            <li><a href="/products/productCategory/roedores">Roedores</a></li>
            <li><a href="/products/productCategory/reptiles">Reptiles</a></li>
        </ul>
        <ul class="col-12 col-md-3 col-xl-2">
            <h3>Informacion</h3>
            <li><a href="/sobreNosotros">Sobre nosotros</a></li>
            <li><a href="/mediosDePago">Medios de pago</a></li>
            <li><a href="/sucursales">Sucursales</a></li>
        </ul>
        
        <!-- redes sociales -->
        <div class="redes-sociales text-center col-12">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-3 col-xl-2 d-flex flex-column justify-content-center">
                    <h3 class="my-3">Contactanos</h3>
                    
                    <ul class="d-flex justify-content-around">
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy col-12">
            <span>@Copyright Grupo_7</span>
        </div>
    </div>
    
</footer>

<a href="https://api.whatsapp.com/send?phone=+5491137981518&text=Hola%20bienvenido%20a%20mascoshop%20!" class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
</a>