<footer class="container-fluid">
    <div class="row ">
        <div class="caja1 col-12  col-lg-3 px-0 mx-0">
            <article><!-- col-md-3 -->
                <h5>Sobre Nosotros</h5>
                <ul>
                    <li><a href=""><i class="cosa1 fas fa-paw"></i>  Cosa1</a></li>
                    <li><a href=""><i class="fas fa-map-marker-alt cosa2"></i>  Cosa2</a></li>
                    <li><a href=""><i class="fas fa-truck cosa3"></i>  Cosa3</a></li>
                    <li><a href=""><i class="fab fa-whatsapp cosa4"></i>  Cosa4</a></li>
                    <li><a href=""><i class="fas fa-headphones-alt cosa5"></i> Cosa1</a></li>
                    <li><a href=""><i class="fas fa-microphone-alt cosa6"></i> Cosa2</a></li>
                    <li><a href=""><i class="fas fa-paw cosa7"></i>  Cosa3</a></li>
                </ul>
            </article>
        </div>
        
        <div class="caja1 col-12  col-lg-3 px-0 mx-0">
            <article><!-- col-md-3 -->
                <h5>Catergoria</h5>
                
                <ul>
                    <li><a href=""><i class="fas fa-paw cosa1"></i>  Cosa1</a></li>
                    <li><a href=""><i class="fas fa-map-marker-alt cosa2"></i>  Cosa2</a></li>
                    <li><a href=""><i class="fas fa-truck cosa3"></i>  Cosa3</a></li>
                    <li><a href=""><i class="fab fa-whatsapp cosa4"></i>  Cosa4</a></li>
                    <li><a href=""><i class="fas fa-headphones-alt cosa5"></i> Cosa1</a></li>
                    <li><a href=""><i class="fas fa-microphone-alt cosa6"></i> Cosa2</a></li>
                    <li><a href=""><i class="fas fa-paw cosa7"></i>  Cosa3</a></li>
                </ul>
                
            </article>
        </div>
        
        <div class="caja1 servicios col-12  col-lg-3 px-0 mx-0">
            <article ><!-- col-md-3 -->
                <h5>Servicios</h5>
                
                <ul>
                    <li><a href=""><i class="fas fa-paw cosa1"></i>  Cosa1</a></li>
                    <li><a href=""><i class="fas fa-map-marker-alt cosa2"></i>  Cosa2</a></li>
                    <li><a href=""><i class="fas fa-truck cosa3"></i>  Cosa3</a></li>
                    <li><a href=""><i class="fab fa-whatsapp cosa4"></i>  Cosa4</a></li>
                    <li><a href=""><i class="fas fa-headphones-alt cosa5"></i> Cosa1</a></li>
                    <li><a href=""><i class="fas fa-microphone-alt cosa6"></i> Cosa2</a></li>
                    <li><a href=""><i class="fas fa-paw cosa7"></i>  Cosa3</a></li>
                </ul>
                
            </article>
        </div>
        <div class="caja2 col-12 col-lg-3  px-0 mx-0">
            <article class="formulario"><!-- col-md-3 -->
                <h5>Dejanos tu consulta</h5>
                <form class="mx-2" action="">
                    
                    <input type="text" class="form-control px-0" placeholder="Email" name="Email">
                    <input type="text" class="form-control px-0" placeholder="Nombre" name="nombre">
                    
                    <textarea name="" id="" cols="30" rows="10" placeholder="Dejanos tu consulta"></textarea>
                </form>
            </article>
        </div>
        <div class="servicios-container col-12  col-lg-3 px-0 mx-0">
            <article >
                <h5>Contactanós</h5>
                
                <ul class="enLinea">
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                </ul>
                
                <p class="copia">@Copyright Grupo_7</p>
            </article>
        </div>
        
        
    </div>
</footer>