<footer class="container-fluid" id="footer">
    <div class="row">
        <ul class="categoria my-3 px-4 col-12 col-md-6 col-lg-3">
            <h3>Categorias</h3>
            <li><a href="#">Perros</a></li>
            <li><a href="#">Gatos</a></li>
            <li><a href="#">Aves</a></li>
            <li><a href="#">Peces</a></li>
            <li><a href="#">Roedores</a></li>
            <li><a href="#">Reptiles</a></li>
        </ul>
        <ul class="nosotros my-3 px-4 col-12 col-md-6 col-lg-4">
            <h3>Sobre Nosotros</h3>
            <li>              
                <a data-bs-toggle="collapse" href="#quienes-somos" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Quienes somos <i class="fas fa-chevron-down"></i>
                </a>
                
                <div class="collapse" id="quienes-somos">
                    <div class="card card-body">
                        En Mascoshop sabemos lo importante que es tu mascota para vos. Vive, duerme, juega y camina a tu lado. Tu mejor compañía te acepta tal cual sos y, a cambio, te ofrece todo su amor e incondicionalidad. Tu única responsabilidad es cuidarla y quererla. Porque amamos a los animales tanto como vos, ponemos a tu alcance todo lo que tu fiel amigo necesita, haciéndote ahorrar tiempo para que compartas con él lo que más le gusta: tu compañía. Desde mascoshop.com entregamos cada semana cientos de productos a hogares con mascotas. Llevamos hasta tu puerta todo para tu mascota: alimentos balanceados, accesorios, golosinas, juguetes y mucho más, siendo el pet shop online más completo del país.
                    </div>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#contacto" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Contacto <i class="fas fa-chevron-down"></i>
                </a>
                <div class="collapse" id="contacto">
                    <div class="card card-body">
                        +54 9 11 39 43 42 30 <br>
                        Comunicarse de lunes a viernes en el horario de 10 a 18 hs !
                    </div>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#terminos-condiciones" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Terminos y condiciones <i class="fas fa-chevron-down"></i>
                </a>
                <div class="collapse" id="terminos-condiciones">
                    <div class="card card-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam accusantium consequuntur nihil non neque maiores reiciendis consequatur. Vitae, inventore recusandae odit itaque, aliquid atque dolorem cumque cupiditate, rem ad earum ipsum delectus labore asperiores repellendus. Quidem laboriosam placeat sunt iure assumenda doloribus voluptatibus, magni deserunt ea possimus soluta fugit dignissimos!
                    </div>
                </div>
            </li>
            <li><a href="#">Medios de pago</a></li>
        </ul>
        <div class="dejanos-consulta my-3 col-12 col-lg-5">
            <form action="">
                <h3>¡ Dejanos tu consulta <i class="fas fa-paw"></i> !</h3>
                <input type="text" name="name" placeholder="Nombre" class="my-3 form-control">
                <input type="email" name="email" placeholder="Email" class="mb-3 form-control">
                <textarea name="comentario" placeholder="Dejanos tu consulta" class="mb-3 form-control"></textarea>
                <button type="submit" class="btn btn-success">Enviar consulta <i class="fas fa-paw"></i></button>
            </form>
        </div>
        <div class="redes-sociales text-center col-12">
            
            <h3 class="my-3">Contactanos</h3>
            
            <ul class="d-flex justify-content-around">
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </div>
        <div class="copy col-12">
            <span>@Copyright Grupo_7</span>
        </div>
    </div>
    
</footer>