<footer class="container-fluid" id="footer">
    <div class="row">
        <ul class="col-12 col-md-3 col-xl-4">
            <h3>Categorias</h3>
            <li><a href="/products/categoryFooter/perros">Perros</a></li>
            <li><a href="/products/categoryFooter/gatos">Gatos</a></li>
            <li><a href="/products/categoryFooter/aves">Aves</a></li>
            <li><a href="/products/categoryFooter/peces">Peces</a></li>
            <li><a href="/products/categoryFooter/roedores">Roedores</a></li>
            <li><a href="/products/categoryFooter/reptiles">Reptiles</a></li>
        </ul>
        <ul class="col-12 col-md-3 col-xl-4">
            <h3>Informacion</h3>
            <li><a href="/sobreNosotros">Sobre nosotros</a></li>
            <li><a href="/mediosDePago">Medios de pago</a></li>
            <li><a href="/sucursales">Sucursales</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
        <div class="col-12 col-md-6 col-xl-4">
            <h3>Caja de comentarios</h3>
            <form action="">
                <div class="consultas">
                    <input type="email" name="email" placeholder="Email" class="form-control mb-3">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control mb-3">
                    <textarea name="comentarios" placeholder="Dejanos tu consulta" class="form-control mb-3"></textarea>
                    <button class="btn btn-success">Enviar consulta <i class="fas fa-paw"></i></button>
                </div>
            </form>
        </div>
        
        <!-- redes sociales -->
        <div class="redes-sociales text-center col-12">
            
            <h3 class="my-3">Contactanos</h3>
            
            <ul class="d-flex justify-content-around">
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </div>
        <div class="copy col-12">
            <span>@Copyright Grupo_7</span>
        </div>
    </div>
    
</footer>