<header class="container-fluid">
    <div class="row">

        <div class="my-3 col-6 col-md-3 col-lg-2"><a href="/"><img src="/images/mascoshop_logo.png" alt="" class="w-100" ></a></div>
        <div class="txt d-flex align-items-center justify-content-center col-6 col-lg-4 col-xl-4">
            <span>ยก Todo lo que tu mejor amigo necesita <i class="fas fa-paw"></i> ! </span>
        </div>
        <div class="perritos col-3 col-lg-6 col-xl-6 text-center">
          <img src="/images/header/6275beb2b1ee9e8b6e3165f64bce0893-secuencia-de-perro-corriendo-7-by-vexels.png" alt="">
          <img src="/images/header/b11541a04df1cd433b41d24302527553-secuencia-de-perro-corriendo-by-vexels.png" alt="">
          <img src="/images/header/be3eddba5705a321e4f69e930cdabc5b-secuencia-de-perro-corriendo-1-by-vexels.png" alt="">
          <img src="/images/header/d62201989552ef4beacf49d9b5a7e1a3-secuencia-de-perro-corriendo-4-by-vexels.png" alt="">
        </div>
        <div class="buscador col-12">
            <form action="">
                <input class="form-control" type="search" placeholder="Busca productos, accesorios y alimentos"><button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
         
            </form>
        </div>
        <div class="botones my-3 d-flex justify-content-end">
            <a class="btn btn-primary mx-3" href="/login"><i class="fas fa-user-circle"></i>Mi cuenta</a> 
            <a class="btn btn-success" href="/productCart"><i class="fas fa-shopping-cart"></i>Mi carrito</a> 
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="">Categorias</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Perros
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Alimentos</a></li>
                          <li><a class="dropdown-item" href="#">Accesorios</a></li>
                          
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Gatos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Alimentos</a></li>
                            <li><a class="dropdown-item" href="#">Accesorios</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Aves
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Alimentos</a></li>
                            <li><a class="dropdown-item" href="#">Accesorios</a></li>
                        </ul>
                      </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Peces
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Alimentos</a></li>
                        <li><a class="dropdown-item" href="#">Accesorios</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Roedores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Alimentos</a></li>
                        <li><a class="dropdown-item" href="#">Accesorios</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Reptiles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Alimentos</a></li>
                        <li><a class="dropdown-item" href="#">Accesorios</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#footer">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Preg Frecuentes</a>
                </li>
                </ul>
              </div>
            </div>
          </nav>


    </div>

</header>