<header class="container-fluid">
    <div class="row">

        <img src="/images/mascoshop_logo.png" alt="" class="my-3 col-6 col-md-3 col-lg-2">
        <div class="publicidad d-flex align-items-center col-6 col-lg-4">
            <span>ยก Todo lo que tu mejor amigo necesita <i class="fas fa-paw"></i>! </span>
        </div>
        <div class="buscador col-12 col-lg-7">
            <form action="">
                <input class="form-control" type="search" placeholder="Busca productos, accesorios y alimentos"><div class="icon"><i class="fas fa-search"></i></div>
         
            </form>
        </div>
        <div class="botones my-3 d-flex justify-content-end">
            <a class="btn btn-primary mx-3" href=""><i class="fas fa-user-circle"></i>Mi cuenta</a> 
            <a class="btn btn-success" href=""><i class="fas fa-shopping-cart"></i>Mi carrito</a> 
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="">Categorias</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Perros
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Alimentos</a></li>
                          <li><a class="dropdown-item" href="#">Accesorios</a></li>
                          
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Gatos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Alimentos</a></li>
                            <li><a class="dropdown-item" href="#">Accesorios</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Aves
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Alimentos</a></li>
                            <li><a class="dropdown-item" href="#">Accesorios</a></li>
                        </ul>
                      </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Peces
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Alimentos</a></li>
                        <li><a class="dropdown-item" href="#">Accesorios</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Roedores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Alimentos</a></li>
                        <li><a class="dropdown-item" href="#">Accesorios</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Reptiles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Alimentos</a></li>
                        <li><a class="dropdown-item" href="#">Accesorios</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Preg Frecuentes</a>
                </li>
                </ul>
              </div>
            </div>
          </nav>


    </div>

</header>