<header>
    <div class="container-fluid">
        <div class="row"> 
            <div class=" barra container-fluid col-3 col-md-8"> 
                <nav class="navbar navbar-expand-md navbar-light">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#lista" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="lista">
                        <ul class="navbar-nav p-0">
                            <li class="nav-item dropdown mx-0 ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categoria
                                </a>
                                <ul class="dropdown-menu" >
                                    <li class="nav-item dropdown">
                                        <a >
                                            Perros
                                        </a><ul class="collapse" id="collapseExample" >
                                            <li >
                                                <a class="dropdown-item" href="#">Comida </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Accesorios</a>
                                            </li>
                                        </ul></li>
                                        <li><a class="dropdown-item" href="#">Gatos</a></li>
                                        <li><a class="dropdown-item" href="#">Peces</a></li>
                                        <li><a class="dropdown-item" href="#">Aves</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item mx-0">
                                    <a class="nav-link " href="#">Blog</a>
                                </li>
                                <li class="nav-item mx-0">
                                    <a class="nav-link" href="#">Preguntas Frecuentes</a>
                                </li>
                                <li class="nav-item mx-0">
                                    <a class="nav-link" href="#">Promociones</a>
                                </li>
                                <li class="nav-item mx-0">
                                    <a class="nav-link" href="#">Ayuda</a>
                                </li>
                            </ul>
                        </div>
                        
                    </nav> 
                </div>  
                
                <div class="col-9 col-md-3  logo ">
                    <img src="./images/mascoshop_logo.png" alt="">
                </div>
                <div class="col-12 col-md-4 search-container mb-2">
                    <!-- col-md-4 -->
                    <form action="" class="input-search">
                        <button><i class="fas fa-search"></i></button>
                        <input type="text" placeholder="¿Qué estas buscando?">
                    </form>
                </div>
                
                
                <div class="col-6 col-md-2 perfil">
                    <a href=""><i class="fas fa-user-circle"></i>Mi Cuenta</a> <!-- perfil icono -->
                </div>
                
                <div class="col-6 col-md-2 carrito">
                    <a href=""><i class="fas fa-shopping-cart"></i>Carrito</a><!-- carrito icono -->
                </div>
                
            </div>
        </div>
    </header>
    
    